Cross domain

Hello,

how could I implement the [CORS](http://enable-cors.org/server.html) functionality on the server side ?

I try [this](http://stackoverflow.com/questions/15959501/how-to-add-cors-headers-to-a-meteor-app) but I have no idea of what I am doing... and the page is blank when I restart the app.

It seams you access self._response.setHeader() inside your main file. Is there a non hacky way to include `Access-Control-Allow-Origin: *` ?

Do you want a call from arbitrary domain to call your server?
Or you need your meteor app to call any other domains?

Yep.
Answer A : I need arbitrary domain could call my Meteor App.

Got it. I'll reply you later.

Now the v0.2.3 support CORS, you just need set it to true
```javascript
        allowCORS: true,                  // Allow CORS (Cross-Origin Resource Sharing)
```

Please tell me whether it works or not. Thank you very much!

I still have 
`[...]No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost' is therefore not allowed access.` in the chrome console.

Maybe case sensitive, did you try `Access-Control-Allow-Origin` instead `access-control-allow-origin` ?

I test it in Safari and Chrome.

Could you tell me your environment:

1. Which browser and version
2. Meteor version
3. Which url you used in client side JavaScript call

Thanks.

1. Chrome 41.0.2272.89 (64-bit)
2. 1.0.4.2

And here is the client code

```
if($('html').hasClass('uk-touch')){
		$.ajax({
			type:'GET',
			url: "http://ranger-analytics.herokuapp.com/collectionapi/traces",
			data: {
				"long":-2.275,
				"lat":48.08560
			},
			contentType:'text/plain',
			xhrFields:{
				withCredentials:false
			},
			headers :{},
			success :function(){console.log( 'Successful cross-domain AJAX request.' )},
			error	:function(e){console.log( 'Error. '+e )},
		});
	}`

Sorry, I can't recreate your problem.
If you try this html code: https://github.com/xcv58/meteor-collectionapi-demo/blob/master/public/test-CORS.html

It'll try to access demo app I deployed to Meteor and works.

You issue may caused by herokuapp.com
Can you try to test on local?

I already change access-control-allow-origin to Access-Control-Allow-Origin

Although I don't think it matters, because according to RFC 2616 http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

> HTTP header fields, which include general-header (section 4.5), request-header (section 5.3), response-header (section 6.2), and entity-header (section 7.1) fields, follow the same generic format as that given in Section 3.1 of RFC 822 [9]. Each header field consists of a name followed by a colon (":") and the field value. Field names are **case-insensitive**.

Yep it could be a Heroku isu. I deployed the same app on Meteor and the command passes.
Anyway thx you very much for your time.

Last question, no very in this issue scope. How can I modify your package ? I tried to duplicate the code in /package but without success. At compile time Meteor looks for some dependencies I have not and does not download them.

You may need to change the version to an higher number, then manually 
```
meteor add xcv58:collection-api@0.2.x
```


Ho I see. I will try that. Thx.

Hello Dagatsoin, 
Just had the same issue with meteor and heroku, did you manage this bug ? 
It's driving me crazy :/

Thx,

Sorry I don't have a change to try Heroku.